@font-face {
    font-family: "GeometricExtraBold";
    src: url("./URWGeometricExtraBold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSansRegular";
    src: url("./NunitoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSansExtraBold";
    src: url("./NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSansBoldItalic";
    src: url("./NunitoSans-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}