<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    lang="en"
    th:replace="~{/layouts/admin-layout :: admin-layout-fragment(
        ~{::title},
        ~{::#static-resources},
        ~{::#main-content}
    )}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create seller account</title>
    <th:block id="static-resources">
    </th:block>
</head>
<body id="main-content">
<div class="container-fluid py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white mb-0">
            <li class="breadcrumb-item"><a class="text-primary" href="#">Quản lý tài khoản</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tạo tài khoản seller</li>
        </ol>
    </nav>
    <div class="container py-5">
        <form class="needs-validation col p-0" action="/admin/accounts" method="post" th:object="${sellerAccount}"
              novalidate>
            <div class="form-group row">
                <h3 class="font-weigh-bold">Tạo tài khoản seller</h3>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control rounded" id="email" placeholder="Nhập email..."
                           th:field="*{email}"
                           required>
                    <p id="emailError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="fullName" class="col-sm-2 col-form-label">Họ và tên</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" id="fullName" placeholder="Nhập họ và tên..."
                           th:field="*{fullName}"
                           required>
                    <p id="fullNameError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('fullName')}"
                       th:errors="*{fullName}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" id="phone" placeholder="Nhập số điện thoại..."
                           th:field="*{phoneNumber}"
                           required>
                    <p id="phoneNumberError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" id="address" placeholder="Nhập địa chỉ nhà..."
                           th:field="*{address}"
                           required>
                    <p id="addressError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('address')}"
                       th:errors="*{address}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control rounded" id="password" placeholder="Nhập mật khẩu..."
                           th:field="*{password}"
                           required>
                    <p id="passwordError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm-password" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control rounded" id="confirm-password"
                           placeholder="Nhập xác nhận mật khẩu..." th:field="*{confirmPassword}"
                           required>
                    <p id="confirmPasswordError" class="error-message mb-0 mt-1 text-danger" style="font-size: 0.93rem;"
                       th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}"></p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary rounded">Thêm mới</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>