@import url('constant.css');

.orange-button {
    background-color: var(--color-orange-light) !important;
    color: var(--color-white) !important;
    border : 1px solid var(--color-orange-light) !important;
    font-family: var(--font-geometric-extra-bold) !important;
}

.orange-button:hover {
    background-color: var(--color-orange-light) !important;
    color: var(--color-white) !important;
    border : 1px solid var(--color-orange-light) !important; 
}

.black-button {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    border : 1px solid var(--color-black) !important;
    font-family: var(--font-geometric-extra-bold) !important;
}

.black-button:hover {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    border : 1px solid var(--color-black) !important; 
}