@import url("../font/font.css");

:root {
    /* Font Variables */
    --font-primary: "NunitoSansRegular", sans-serif;
    --font-extra-bold: "NunitoSansExtraBold", sans-serif;
    --font-semi-bold-italic: "NunitoSansBoldItalic", sans-serif;
    --font-geometric-extra-bold: "GeometricExtraBold", sans-serif;

    /* Color Variables */
    --color-black: #000;
    --color-white: #fff;
    --color-gray-dark: #555;
    --color-gray-medium: #999;
    --color-gray-light: #f1f1f1;
    --color-gray-medium: #999; /* Use as a blur gray */
    --color-green: #35a16f;
    --color-yellow: #ecd956;
    --color-orange-dark: #ff5f17; /* Formerly orange-background */
    --color-orange-light: #f15e2c; /* Formerly orange-text */
    --color-light-gray: #f1f1f1;
    --color-dark-gray: #303030;
    --color-medium-gray: #808080;
    --color-blue-dark: #004e9b;
    --color-blue-darker: #091e42;
}
