.header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header .menu {
    background: #303030;
    text-align: right;
    height: 30px;
    width: 100%;
    padding: 3px 60px 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header-row {
    margin-left: -10px;
    margin-right: -10px;
}

.header .navbar {
    margin-bottom: 0px;
    margin-top: 12px;
    height: 100px;
    width: 100%;
}

.header .navbar .navbar-header {
    width: 16vw;
    height: auto;
    text-align: right;
    overflow: hidden;
    margin-top: 34px;
}

.header .navbar-brand img {
    width: 122px;
}

.header .menu a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

.header .menu a.disable {
    color: var(--color-orange-light);;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    pointer-events: none;
}

.header .menu a:hover {
    color: var(--color-orange-light);
}

.navbar-brand {
    float: left;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.header .navbar-brand {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 992px) {
    .navbar {
        border-radius: 4px;
    }
}

/* nav bar */
.navbar-form {
    margin-top: 22px;
    margin-right: 40px;
}

.header .icon-search {
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

.header .navbar .form-control {
    padding-left: 34px;
    font-size: 12px;
    height: 40px;
    width: 280px;
    border-radius: 0px;
}

.navbar-form .form-group {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.menu > li {
    list-style-type: none;
}

.navbar-nav {
    float: none;
    display: flex;
    vertical-align: bottom;
    height: 80px;
}

.header .nav li {
    height: 100%;
    margin-top: 20px;
}

.header .nav .line {
    border-right: #e3e2e2 2px solid;
    margin-top: 38px;
    height: 23px;
}

.header .nav li a {
    padding: 20px 20px 0px 20px;
    padding-bottom: 0px;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    position: relative;
    background-color: #fff;
}

.header .nav li a:hover {
    color: var(--color-orange-light)
}

.nav-parents ul li {
    display: flex;
    align-items: center;
}

.not-flex {
    display: inline-block !important;
}

.header .caret {
    position: relative;
    background: #fff url("https://ananas.vn/wp-content/themes/ananas/fe-assets/images/icon_down_black.png") no-repeat;
    width: 12px;
    height: 8px;
    border: none;
}

.nav-parents {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    padding-right: 150px;
}

.nav-parents .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#headerSlideCarousel .carousel-inner .carousel-item {
    height: auto;
    padding: 10px 0px;
}

.header-slide {
    background-color: var(--color-light-gray);
    margin: 0px -10px;
}

.header-slide-title {
    font-family: var(--font-semi-bold-italic);
    font-size: 16px;
}

.header-slide-title:hover {
    color: var(--color-black);
}

#headerSlideCarousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("../../assets/images/icons/left-arrow-header-slide.png");
}

#headerSlideCarousel .carousel-control-next .carousel-control-next-icon {
    background-image: url("../../assets/images/icons/right-arrow-header-slide.png");
}

@media only screen and (max-width: 1500px) {
    .header .navbar .form-control {
        width: 220px;
    }
}

@media only screen and (max-width: 1000px) {
    .form-header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .nav-parents {
        padding-right: 80px;
    }
}
