<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    lang="en"
    th:fragment="main-layout-fragment(title, otherStaticResources, header, mainContent)"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:replace="${title}">My Title</title>

    <script src="/assets/js/bootstrap-loader.js"></script>
    <link rel="stylesheet" href="/assets/css/button.css"/>
    <link rel="icon" href="/assets/images/logo.png"/>

    <!-- link style footer and header  -->
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/toast.css">

    <!-- Other javascript, css source files -->
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
    <script src="/assets/js/toast.js"></script>

</head>
<body>
    <div th:if="${toastMessages != null}">
        <script th:inline="javascript">
            const toastMessages = /*[[${toastMessages}]]*/ [];
            showToast(toastMessages.type, toastMessages.content);
        </script>
    </div>
    <!-- Header -->
    <div th:replace="${header} ? ${header} : ~{/components/header :: header}"></div>

    <!-- Main content  -->
    <div th:replace="${mainContent} ?: ~{}"></div>

    <!-- Footer  -->
    <div th:replace="~{/components/footer :: footer}"></div>
</body>
</html>
