<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin Sidebar</title>
    <link rel="stylesheet" href="/assets/css/admin-sidebar.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="admin-sidebar">
    <nav class="sidebar" id="sidebar">
        <div class="d-lg-flex justify-content-between align-items-center d-none">
            <img alt="website logo" src="/assets/images/icons/logo-website.svg" class="admin-page-sidebar-logo-website"/>
        </div>
        <hr class="admin-page-sidebar-hr d-none d-lg-block"/>
        <div id="sidebarToggle">
            <img alt="toggle icon" id="toggleIconSidebar" src="/assets/images/icons/left-arrow-white.png" class="sidebar-toggle-icon"/>
        </div>
        <ul th:with="current_user = ${#ctx.session.current_user}" th:unless="${#ctx.session.current_user == null}">
            <li>
                <a
                    th:href="@{/admin/statistic}"
                    th:class="${currentPage == 'statistic-management'} ? 'active-sidebar-button' : ''"
                >
                    <img alt="icon statistic" src="/assets/images/icons/statistic-icon.svg" class="sidebar-icons"/>
                    <span class="sidebar-text">Thống kê</span>
                </a>
            </li>
            <li>
                <a
                    th:href="@{/seller/products}"
                    th:class="${currentPage == 'product-management'} ? 'active-sidebar-button' : ''"
                >
                    <img alt="icon product management" src="/assets/images/icons/shoes-icon.svg" class="sidebar-icons"/>
                    <span class="sidebar-text">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a
                    th:href="@{/admin/bill-management}"
                    th:class="${currentPage == 'bill-management'} ? 'active-sidebar-button' : ''"
                >
                    <img alt="icon bill management" src="/assets/images/icons/bill-icon.svg" class="sidebar-icons"/>
                    <span class="sidebar-text">Quản lý hóa đơn</span>
                </a>
            </li>
            <li >
                <a
                    th:href="@{/admin/accounts}"
                    th:class="${currentPage == 'account-management'} ? 'active-sidebar-button' : ''"
                >
                    <img alt="icon account management" src="/assets/images/icons/account-icon.svg" class="sidebar-icons"/>
                    <span class="sidebar-text">Quản lý tài khoản</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('sidebarToggle').addEventListener('click', function () {
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('collapsed');
    });
</script>
</body>
</html>
