<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <script src="./assets/js/bootstrap-loader.js"></script>
</head>

<body>
    <div class="container-fluid background-dark text-center" th:fragment="footer">
        <div class="row pt-5">
            <div class="col-md-12 col-lg-3 px-5">
                <img class="row" src="./assets/images/icons/shop.svg" width="280px" alt="Shop">
                <div class="row">
                    <button class="btn orange-button text-uppercase col mt-4">Tìm cửa hàng</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="row pb-4">
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Sản phẩm</h5>
                        <a href="#" class="row text-gray">Giày Nam</a>
                        <a href="#" class="row text-gray">Giày Nữ</a>
                        <a href="#" class="row text-gray">Thời trang & Phụ kiện</a>
                        <a href="#" class="row text-gray">Sale-off</a>
                    </div>
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Về công ty</h5>
                        <a href="#" class="row text-gray">Dứa tuyển dụng</a>
                        <a href="#" class="row text-gray">Liên hệ nhượng quyền</a>
                        <a href="#" class="row text-gray">Về Ananas</a>
                    </div>
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Hỗ trợ</h5>
                        <a href="#" class="row text-gray">FAQs</a>
                        <a href="#" class="row text-gray">Bảo mật thông tin</a>
                        <a href="#" class="row text-gray">Chính sách chung</a>
                        <a href="#" class="row text-gray">Tra cứu đơn hàng</a>
                    </div>
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Liên hệ</h5>
                        <a href="#" class="row text-gray">Email góp ý</a>
                        <a href="#" class="row text-gray">Hotline</a>
                        <a href="#" class="row text-gray">0921 233 432</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Ananas Social</h5>
                        <div class="row">
                            <img src="./assets/images/icons/icon_youtube.svg" class="mr-2" alt="Youtube">
                            <img src="./assets/images/icons/icon_instagram.svg" class="mr-2" alt="Instagram">
                            <img src="./assets/images/icons/icon_facebook.svg" class="mr-2" alt="Facebook">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 text-left pl-5">
                        <h5 class="row text-white pb-2 pt-4 text-uppercase">Đăng kí nhận mail</h5>
                        <div class="row input-group">
                            <input type="text" class="form-control" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary " type="button" id="button-addon2">
                                    Gửi
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 text-left pl-5 pb-2 pt-4">
                        <img src="./assets/images/icons/Logo_Ananas_Footer.svg" alt="Shop">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-5 text-center">
            <p href="#" class="col text-center text-gray">
                Copyright © 2024 Ananas. All rights reserved.
            </p>
        </div>
    </div>
</body>

</html>