<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Thymeleaf Page</title>
    </head>
    <body>
        <div
            class="pm-card-wrapper d-flex position-relative my-2"
            th:fragment="product-management-card(id, name, image, originPrice, discount, style, material, gender, sumQuantity, color, category, price)"
        >
            <a th:href="@{/seller/products/{id}(id=${id})}" class="pm-card-link">
            <div class="pm-card-marker"></div>
            <div class="pm-card-content-wrapper d-flex position-relative">
                <img alt="pm image" th:src="${image}" class="pm-image" />
                <div class="pm-card-main-content-wrapper d-flex justify-content-center flex-column">
                    <h5 class="pm-card-main-content-title" th:text="${name}">PRODUCT NAME</h5>
                    <div class="pm-card-info-wrapper">
                        <div class="pm-card-info-items-wrapper">
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/dollar.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Giá gốc : </span>
                                    <span class="pm-card-info-items-value" th:text="${originPrice}"></span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/price-tag.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Giảm giá : </span>
                                    <span class="pm-card-info-items-value" th:text="${discount} + '%'"></span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/shoe.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Kiểu dáng : </span>
                                    <span class="pm-card-info-items-value" th:text="${style}"></span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/foam.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Chất liệu : </span>
                                    <span class="pm-card-info-items-value" th:text="${material}"></span>
                                </p>
                            </div>
                        </div>
                        <div class="pm-card-info-items-wrapper">
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/gender.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Giới tính : </span>
                                    <span class="pm-card-info-items-value">
                                        <img
                                            alt="pm card gender icon"
                                            th:src="${#strings.toString(gender) == 'MALE'} 
                                                        ? '/assets/images/icons/products-seller/male.png' 
                                                        : (${#strings.toString(gender) == 'FEMALE'} 
                                                            ? '/assets/images/icons/products-seller/female.png' 
                                                            : '/assets/images/icons/products-seller/unisex.png'
                                                    )"
                                            class="pm-card-info-items-image"
                                        />
                                    </span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/boxes.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Số lượng : </span>
                                    <span class="pm-card-info-items-value" th:text="${sumQuantity} + ' sản phẩm'"></span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/art.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Màu sắc : </span>
                                    <span class="pm-card-info-items-value">
                                        <div
                                            class="pm-card-info-items-image"
                                            th:style="'background-color: #' + ${color}"
                                        ></div>
                                    </span>
                                </p>
                            </div>
                            <div class="pm-card-info-items">
                                <img
                                    alt="price icon"
                                    src="/assets/images/icons/products-seller/scale.png"
                                    class="pm-card-info-items-image"
                                />
                                <p>
                                    <span class="pm-card-info-items-title">Dòng sản phẩm : </span>
                                    <span class="pm-card-info-items-value" th:text="${category}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="pm-card-price position-absolute" th:text="${price}"></h6>
                <a th:if="${#strings.toString(#ctx.session.current_user.role)  == 'ADMIN'}" href="#"
                    ><img
                        alt="delete icon"
                        class="pm-card-delete-button position-absolute"
                        src="/assets/images/icons/products-seller/delete.png"
                /></a>
            </div>
        </div>
    </body>
</html>
