<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{/layouts/main-layout :: main-layout-fragment(
    ~{::title},
    ~{::#static-resources},
    null,
    ~{::#main-content}
)}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Giỏ Hàng - Ananas</title>
    <th:block id="static-resources">
        <link rel="stylesheet" href="/assets/css/cart/cart.css"/>
        <script src="/assets/js/shopping-cart-script.js"></script>
    </th:block>
</head>

<body>
<div id="main-content" class="main-cart container-fluid">
    <div class="row">
        <div th:if="${#lists.isEmpty(shoppingCarts)}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 prd-search">
            <div class="row center search-string">
                <h1>GIỎ HÀNG CỦA BẠN</h1>
            </div>
            <div class="row divider-2"></div>
            <div class="row prd1-right-items">
                <div class="center no-product">
                    <p>Bạn đang không có sản phẩm nào trong giỏ hàng!</p>
                </div>
                <div class="no-product-btn center">
                    <button onclick="location.pathname='/products'" class="btn btn-lg back-to-product-list orange-button text-uppercase">
                        Quay lại mua hàng
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(shoppingCarts)}" class="col-xs-12 col-sm-12 col-md-12 col-lg-8 main-cart-left">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 title-1">GIỎ HÀNG</div>
                <div th:each="cartProduct, index :${shoppingCarts}" class="row w-full">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 item-2">
                        <div class="media">
                            <div class="media-left">
                                <a th:href="${cartProduct.getProductURL()}">
                                    <img class="media-object"
                                         th:src="${cartProduct.getImages().get(0).getUrl()}"
                                         height="283" width="283" data-holder-rendered="true">
                                </a>
                            </div>
                            <div class="media-body">
                                <div>
                                    <a th:href="${cartProduct.getProductURL()}">
                                        <h4 th:text="${cartProduct.getName() + ' - ' + cartProduct.getStyle() }" class="media-heading"></h4>
                                    </a>
                                    <h5 class="price">
                                        <span class="saleoff"><strong th:text="${'Giá: ' + cartProduct.getDiscountPriceFormated()}"></strong></span>
                                        <span th:if = "${cartProduct.discount != null and cartProduct.discount > 0}" class="normal" th:text="${cartProduct.getOriginPriceFormated()}"></span>
                                    </h5>
                                </div>
                                <div class="row bottom">
                                    <div class="form-group">
                                        <label for="select-size">Size</label>
                                        <select class="form-control select-form" id="select-size">
                                            <<option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="select-quantity">Số lượng</label>
                                        <select class="form-control select-form" id="select-quantity">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 item-2-1">
                        <div th:text="${cartProduct.getTotalDiscountPriceFormated()}" class="price"></div>
                        <div class="status">Còn hàng</div>
                        <div class="button">
                            <button class="btn btn-light addToWishList">
                                <img src="/assets/images/icons/cart/Heart.svg">
                            </button>
                            <button class="btn btn-dark remove-product-in-cart">
                                <img src="/assets/images/icons/cart/Trash_bin.svg">
                            </button>
                        </div>
                    </div>
                    <div th:if="${!index.last}" class="col-12 col-sm-12 col-md-12 col-lg-12 item-divider ">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 item-divider-1 "></div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 title-3">
                    <button class="btn btn-delall btn-clearAll">XÓA HẾT</button>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 title-3">
                    <button onclick="location.pathname='/products'" class="btn btn-cont">QUAY LẠI
                        MUA HÀNG
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(shoppingCarts)}" class="col-12 col-sm-12 col-md-12 col-lg-4 main-cart-right">
            <ul class="list-group">
                <li class="list-group-item title">ĐƠN HÀNG</li>
                <li class="list-group-item divider"></li>
                <li class="list-group-item title-1">NHẬP MÃ KHUYẾN MÃI</li>
                <li class="list-group-item">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn orange-button btn-apply" type="button">ÁP DỤNG</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item divider-1"></li>
                <li class="list-group-item text-1">
                    <span class="title-3">Đơn hàng</span>
                    <span th:text="${totalOriginPrice}" class="title-3-1 totalPriceOfCart"></span>
                </li>
                <li class="list-group-item text-2">
                    <span class="title-3">Giảm</span>
                    <span th:text="${totalDiscountPrice}" class="title-4-1 totalDiscountOfCart"></span>
                </li>
                <li class="list-group-item divider-1"></li>
                <li class="list-group-item">
                    <span class="title-5">TẠM TÍNH</span>
                    <span th:text="${finalPrice}" class="title-5-1 tempPrice"></span>
                </li>
                <li class="list-group-item">
                    <button data-href="shipping-infomation/" class="btn btn-cart to-checkout">
                        TIẾP TỤC THANH TOÁN
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>