<html
    xmlns:th="http://www.thymeleaf.org"
    lang="en"
    th:replace="~{./layouts/main-layout :: main-layout-fragment(
        ~{::title},
        ~{::#static-resources}, 
        ~{./components/header :: header}, 
        ~{::#main-content}
    )}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <th:block id="static-resources">
            <style>
                p {
                    color: red;
                }
            </style>
        </th:block>
    </head>
    <body>
        <div id="main-content">
            <h1>Welcome to the Home Page</h1>
            <p>This is the home page content.</p>
        </div>
        
    </body>
</html>
