@import url("../constant.css");

.product-list-wrapper {
    width: 100%;
    display: flex;
}

.product-list-main-content {
    
}

.product-list-banner-wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.product-list-banner {
    height: auto;
    width: 90%;
}

.product-list-items-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.w-9 {
    width: 90%;
}

/* pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid var(--color-orange-light);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-orange-light);
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: var(--color-orange-light);
    color: var(--color-white);
    background-origin: var(--color-orange-light);
}

.disabled-page {
    color: var(--color-orange-light);
    background-color: var(--color-white);
    border-color: var(--color-orange-light);
}

.active-page {
    background-color: var(--color-orange-light);
    color: var(--color-white);
    border-color: var(--color-orange-light);
}