@import url("../constant.css");

/* Image card */
.edit-img {
    overflow: scroll;
}

.product-img {
}

.product-img .img-item {
    position: relative;
}

.product-img .img-item img {
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.product-img .img-item .close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.img-item .close .line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--color-gray-dark);
    border-radius: 30px;
}

.line.one {
    transform: rotate(45deg)
}

.line.two {
    transform: rotate(135deg)
}


/* Upload file */

.file-upload-form {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--color-blue-light);
}

.file-upload-label input {
    display: none;
}

.file-upload-label svg {
    height: 40px;
    fill: var(--color-blue-light);
    margin-bottom: 20px;
}

.file-upload-label {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.browse-button {
    background-color: var(--color-blue-light);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}

.browse-button:hover {
    background-color: var(--color-blue-dark);
}

.btn-primary {
    background-color: var(--color-blue-light) !important;
    border-radius: 5px !important;
}

.form-control, .input-group-text {
    border-radius: 0;
}

.form-group label {
    font-weight: 600;
    font-size: 16px;
}
